// Main div
.article-container {
    background-color: #1c1c1c;
    width: 300px;
    height: 250px;
    border-radius: 10px;
    transition: border 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
    // Filter banner
    .article-banner {
        height: 20px;
        width: 100px;
        position: relative;
        margin-top: 160px;
        border-radius: 0 5px 5px 0;
        z-index: 1;
        left: -180px;
        transition: left 0.4s;

        p {
            height: 20px;
            color: #efefef;
            font-size: 10px;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 600;
        }
    }
    // Image
    img {
        object-fit: cover;
        width: 300px;
        height: 180px;
        position: relative;
        top: -180px;
    }
    // Title
    h3 {
        height: 62px;
        color: #efefef;
        margin: 0 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: color 0.3s;
        position: relative;
        top: -180px;
    }
}

// Dynamic change
.article-container:hover {
    cursor: pointer;
    
    h3 {
        color: #d45a08;
    }

    .article-banner {
        left: 0;
    }
}