.contact-section {
    background-color: #767676;

    .contact-form {
        display: flex;
        flex-direction: column;
        align-items: center;

        .form-element {
            font-family: 'Montserrat';
            margin-top: 15px;
            width: 500px;
            padding: 5px 0 5px 10px;
            border: 2px solid #767676;
            font-size: 14px;
            border-radius: 5px;
            transition: border 0.3s;
        }

        .form-element:focus {
            outline: 0;
            border: 2px solid #1c1c1c;
        }

        .form-input {
            height: 30px;
        }

        .form-button {
            height: 35px;
            width: 514px;
            background-color: #1c1c1c;
            border: 2px solid #1c1c1c;
            color: #efefef;
            transition: border 0.3s, color 0.3s;
        }

        .form-button:hover {
            cursor: pointer;
            border: 2px solid #d45a08;
            color: #d45a08;
        }
    }
}

#contact {
    scroll-margin-top: 100px;
}