.footer-component {
    background-color: #1c1c1c;
    padding: 40px 0;
    text-align: center;

    .footer-logo {
        height: 35px;
        color: #cbcbc9;
        border: 2px solid #cbcbc9;
        border-radius: 30px;
        padding: 5px;
        opacity: 0.7;
        margin: 0 10px;
        transition: opacity 0.3s;
    }

    .footer-logo:hover {
        opacity: 1;
    }

    .footer-name {
        margin: 15px 0 0 0;
        color: #cbcbc9;
        opacity: 0.7;
        font-size: 16px;
        transition: opacity 0.3s;
    }

    .footer-name:hover {
        cursor: default;
        opacity: 1;
    }
}