// Projects gallery format
.gallery {
    margin: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 25px;

    li {
        list-style-type: none;
        width: 300px;
        height: 250px;

        // Button
        .button-container {
            background-color: #1c1c1c;
            width: 300px;
            height: 250px;
            border: 0;
            padding: 0;
            border-radius: 10px;
            transition: border 0.3s;
            font-family: 'Montserrat';
            font-size: 15px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            overflow: hidden;
            // Filter banner
            .button-banner {
                height: 20px;
                width: 100px;
                position: relative;
                margin-top: 160px;
                border-radius: 0 5px 5px 0;
                z-index: 1;
                left: -180px;
                transition: left 0.4s;

                // Label banner
                p {
                    height: 20px;
                    font-size: 10px;
                    margin: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-weight: 600;
                }
            }
            // Cover
            img {
                object-fit: cover;
                width: 300px;
                height: 180px;
                position: relative;
                top: -180px;
            }
            // Title
            h3 {
                height: 62px;
                color: #efefef;
                margin: 0 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: color 0.3s;
                position: relative;
                top: -180px;
            }
        }

        // Dynamic change
        .button-container:hover {
            cursor: pointer;
            
            h3 {
                color: #d45a08;
            }

            .button-banner {
                left: 0;
            }
        }
    }
}

// Modal format
.modal {
    z-index: 1;
    position: fixed;
    top: 15%;
    left: 25%;
    right: 25%;
    bottom: 5%;
    background-color: #efefef;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    // Title and close button container
    .modal-title-close {
        font-size: 15px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        // Close button
        .modal-close-button {
            position: absolute;
            right: 20px;
        }

        .modal-close-button:hover {
            cursor: pointer;
        }
    }
    // Cover
    .modal-cover {
        height: 380px;
        width: 100%;
        object-fit: cover;
    }
    // Subcover container
    .modal-infos-button {
        display: flex;
        flex-direction: column;
        height: 100%;
        // Informations container
        .modal-infos-container {
            display: flex;
            flex-direction: row;
            height: 100%;
            // Both side
            .infos-format {
                display: flex;
                flex-direction: column;
                flex: 1;
            }
            // Left side
            .infos-context {
                margin: 15px 15px 0;
                justify-content: space-between;

                p {
                    text-align: justify;
                    margin: 0;
                }

                button {
                    width: 55px;

                    a {
                        text-decoration: none;
                    }
                }
                
            }
            // Right side
            .infos-description {
                margin: 15px 15px 0;
                // Title and year container
                .description-title {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;

                    p {
                        margin-right: 20px;
                        font-size: 18px;
                        font-weight: 600;
                        color: #d45a08;
                    }
                }

                p {
                    text-align: justify;
                    margin: 0;
                }
                // Tags list
                ul {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: center;
                    gap: 10px;
                    margin-top: 15px;
                    // Tag format
                    li {
                        list-style-type: none;
                        padding: 10px;
                        background-color: #d45a08;
                        font-weight: 600;
                        color: #efefef;
                    }

                    li:hover {
                        cursor: default;
                    }
                }
            }
        }
        // Git button
        .modal-button {
            button {
                position: absolute;
                left: 15px;
                bottom: 15px;

                a {
                    text-decoration: none;
                }
            }
        }
    }
}
// Modal format overlay
.overlay {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .gallery {
        grid-template-columns: 1fr 1fr;

        li {
            .button-container {
                .button-banner {
                    left: 0;
                }
            }
        }
    }

    .modal {
        .modal-title-close{
            font-size: 25px;
        }

        .modal-infos-button {

            .modal-infos-container {
                flex-direction: column;

                .infos-format {
                    flex: none;

                    h4 {
                        font-size: 25px;
                        margin: 15px 0;
                    }
                }
            }
        }
    }

    .overlay {
        top: 15%;
        left: 20%;
        right: 20%;
        bottom: 10%;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
    .gallery {
        display: flex;
        flex-direction: column;
    }
}