.header-component {
    background-color: #1c1c1c;
    height: 100px;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 70px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 2;
    // Logo home
    .logo {
        width: 60px;
        height: 60px;
    }

    .logo:hover {
        cursor: pointer;
    }
    // Navigation menu
    .navbar {
        text-transform: uppercase;

        ul {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 35px;

            li {
                list-style-type: none;
                font-size: 18px;
                font-weight: 600;

                .links {
                    padding-bottom: 37px;
                    text-decoration: none;
                    color: #efefef;
                    border-bottom: 2px solid transparent;
                    transition: border-bottom 0.3s, color 0.3s;
                }

                .links:hover {
                    border-bottom: 2px solid #ff5722;
                    color: #ff5722;
                }

                .active {
                    border-bottom: 2px solid #ff5722;
                }
            }
        }
    }

    .button-flags {
        width: 43px;
        height: 24px;
        border: 0;
        padding: 0;

        // Language image
        .flags {
            width: 100%;
            height: 100%;
        }
    }

    .button-flags:hover {
        cursor: pointer;
    }

    .icon-menu {
        display: none;
    }
}

/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .header-component {
        height: 150px;

        .logo {
            height: 100px;
            width: 100px;
        }

        .navbar {
            width: 50%;

            ul {
                flex-wrap: wrap;
                justify-content: center;

                li {
                    font-size: 22px;

                    .links {
                        padding: 0;
                    }

                    .links:hover {
                        border-bottom: 2px solid transparent;
                    }

                    .active {
                        color: #ff5722;
                        border-bottom: 2px solid transparent;
                    }
                }
            }
        }

        .icon-menu {
            display: none;
        }
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
    .header-component {
        height: 100px;
        // Logo - Home button
        .logo {
            position: absolute;
            height: 60px;
            width: 60px;
            margin: 15px;
            top: 5px;
            left: 0;
        }
        // Navigation bar
        .navbar {
            display: none;
            ul {
                background-color: #1c1c1c;
                gap: 10px;
                position: absolute;
                top: 100px;
                right: 0;
                padding: 10px;
                width: 100%;

                li {
                    width: 100%;
                    text-align: end;

                    .links {
                        display: inline-block;
                        width: 100%;
                        border: 0;
                    }

                    .links:hover {
                        border: none;
                    }
                }
            }
        }
        // Display navigation bar
        .responsive {
            display: block;
        }
        // Language button
        .button-flags {
            width: 45px;
            height: 30px;
            position: absolute;
            left: 100px;
        }
        // Menu button
        .icon-menu {
            cursor: pointer;
            display: block;
            position: absolute;
            height: 60px;
            width: 60px;
            margin: 15px;
            background-color: transparent;
            border: none;
            right: 0;

            i {
                font-size: 25px;
                color: #efefef;
            }
        }
    }
}