.header-component {
    background-color: #1c1c1c;
    height: 100px;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 70px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 2;
    // Logo home
    .logo {
        width: 60px;
        height: 60px;
    }

    .logo:hover {
        cursor: pointer;
    }
    // Navigation menu
    nav {
        text-transform: uppercase;

        ul {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 35px;

            li {
                list-style-type: none;
                font-size: 18px;
                font-weight: 600;

                a {
                    padding-bottom: 37px;
                    text-decoration: none;
                    color: #efefef;
                    border-bottom: 2px solid transparent;
                    transition: border-bottom 0.3s, color 0.3s;
                }

                a:hover {
                    border-bottom: 2px solid #d45a08;
                    color: #d45a08;
                }

                .active {
                    border-bottom: 2px solid #d45a08;
                }
            }
        }
    }
    // Language logo
    .flags {
        width: 35px;
        height: 35px;
        border: 2px solid #676767;
        border-radius: 27px;
    }
}