.skill-bar {
    background-color: lightgrey;
    display: flex;
    flex-direction: row;
    height: 35px;
    width: 500px;
    border-radius: 5px;
    border-bottom: 2px solid grey;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    .bar-full {
        border-radius: 5px 0 0 5px;
        display: flex;
        align-items: center;
        height: 35px;

        img {
            width: 25px;
            margin-left: 15px;
        }

        p {
            margin: 0 0 0 10px;
            text-transform: uppercase;
            font-weight: 600;
        }

        p:hover {
            cursor: default;
        }
    }
}

/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .skill-bar {
        height: 50px;
        width: 100%;

        .bar-full {
            height: 50px;

            img {
                width: 35px;
            }

            p {
                margin: 0 0 0 15px;
                font-size: 24px;
            }
        }
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
    /* ... */
}