.skills-section {
    background-color: #cbcbc9;

    .skills-container {
        display: flex;
        flex-direction: row;
        gap: 50px;

        .skills-soft {
            width: 500px;

            ul {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .skills-soft-li {
                    list-style-type: none;
                    text-align: start;
                    font-size: 18px;
                    text-transform: uppercase;
                    margin: 10px 0;

                    .skills-soft-div {
                        text-align: start;
                        color: #1c1c1c;
                        font-size: 16px;
                        text-transform: none;
                    }
                }
            }
        }

        .skills-hard {

            ul {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                li {
                    list-style-type: none;
                }
            }
        }
    }
}

#skills {
    scroll-margin-top: 100px;
}

/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .skills-section {

        .skills-container {
            flex-direction: column;
            align-items: center;

            .skills-soft {
                width: 80%;

                ul .skills-soft-li {
                    font-size: 24px;

                    .skills-soft-div {
                        font-size: 20px;
                    }
                }
            }

            .skills-hard {
                width: 80%;

                ul {
                    gap: 25px;
                }
            }
        }
    }
}