/* Remove default margin and set font */
body {
    margin: 0;
    font-family: 'Montserrat';
}

main {
    display: flex;
    flex-direction: column;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0px;
    text-align: center;
}

strong {
    color: #d45a08;
}

ul {
    margin: 0;
    padding: 0;
}

/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    body {
        background-color: #1c1c1c;
    }

    main {
        background-color: #1c1c1c;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
    /* ... */
}