/* Remove default margin and set font */
body {
    margin: 0;
    font-family: 'Montserrat';
}

main {
    display: flex;
    flex-direction: column;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0px;
    text-align: center;
}

strong {
    color: #d45a08;
}

ul {
    margin: 0;
    padding: 0;
}